<div>
	<img alt="{{ include.title }}" src="{{ include.cover }}"
		 style="max-height: 140px; margin: 20px; float: left" />

	<div>
		<h3>
			<a href="{{ include.url }}" target="_blank">{{ include.title }}</a>
			—by {{ include.author }}
		</h3>
		<p class="selectionShareable">
			{{ include.description }}—
			<a href="{{ include.referrer_url }}" style="font-size: 17px; color: #666 !important;" target="_blank">
				{{ include.referred_by }}
			</a>
		</p>
	</div>
</div>

<div style="clear: both"></div>
