{% if page.alternate_locale_en %}
<link rel="alternate" href="https://auth0.com{{ site.baseurl }}/{{page.alternate_locale_en}}/" hreflang="en" />
<link rel="alternate" href="https://auth0.com{{ site.baseurl }}{{page.url}}" hreflang="{{ page.lang }}" />
{% endif %}
{% if page.alternate_locale_es %}
<link rel="alternate" href="https://auth0.com{{ site.baseurl }}/{{page.alternate_locale_es}}/" hreflang="es" />
<link rel="alternate" href="https://auth0.com{{ site.baseurl }}{{page.url}}" hreflang="{{ page.lang }}" />
{% endif %}
{% if page.alternate_locale_de %}
<link rel="alternate" href="https://auth0.com{{ site.baseurl }}/{{page.alternate_locale_de}}/" hreflang="de" />
<link rel="alternate" href="https://auth0.com{{ site.baseurl }}{{page.url}}" hreflang="{{ page.lang }}" />
{% endif %}
{% if page.alternate_locale_ja %}
<link rel="alternate" href="https://auth0.com{{ site.baseurl }}/{{page.alternate_locale_ja}}/" hreflang="ja" />
<link rel="alternate" href="https://auth0.com{{ site.baseurl }}{{page.url}}" hreflang="{{ page.lang }}" />
{% endif %}
