.navbar{
  .navbar-logo{
    display: inline-block;
    width: 100px;
    padding: 23.5px 0 12.5px 31.5px;
  }

  .ampstart-navbar-trigger{
    display: inline-block;
    float: right;
    padding: 23.5px 28px 12.5px 0;
    width: 30px;
  }
  .call-to-action {
    font-weight: bold;
    background: #eb5424;
    padding: 16px 30px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    max-width: 85%;
  }
}
amp-sidebar {
  width: 100%;
  background-color: #fff;
  .header{
    min-height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 33px;
    border-bottom: 1px solid rgb(151,151,151);
    .amp-close-image{
      width: 23px;
      height: 23px;
    }
  }
  
  @media (max-width: 710px) {
    .call-to-action {
      font-weight: bold;
      background: #eb5424;
      padding: 16px 30px;
      border-radius: 3px;
      color: #fff;
      text-decoration: none;
      text-align: center;
      margin: 10px;
      max-width: 85%;
    }
    .display-mobile {
      display: block;
    }
    .display-desktop {
      display: none;
    }
  }
  
  @media (min-width: 711px) {
    .call-to-action {
      font-weight: bold;
      background: #eb5424;
      padding: 16px 30px;
      border-radius: 3px;
      color: #fff;
      text-decoration: none;
      text-align: center;
      margin: 10px 0px 0px 47px;
      width: 15%;
    }
    .display-desktop {
      display: block;
    }
    .display-mobile {
      display: none;
    }
  }

  .sidebar-list{
    min-height: 78.3%;
    overflow: scroll;
    h2 {
      font-weight: 500;
      color: #4A4A4A;
      border-bottom: 2px solid #4A4A4A;
      width: auto;
      display: inline-block;
      font-size: 28.5px;
      letter-spacing: 1.2px;
      padding-bottom: 12px;
      margin: 20px 10px 30px 47px;
    }
    ul{
      list-style: none;
      padding: 0px;
      margin: 0px;
      li{
        margin: 0 23.5px 20px 47px;
        a{
          color: #4A4A4A;
          font-size: 18px;
        }
      }
    }
  }

  .sidebar-footer{
    min-height: 9.8%;
    background: rgb(235,84,36);
    width: 100%;
    margin: -41px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: #fff;
      font-size: 20px;
      letter-spacing: 0.85px;
    }
  }
}

amp-sidebar.sidebar-element {
  display: flex;
  flex-direction: column;
}
